<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul> <li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>,
  <%= restaurant.category %> located at <%= restaurant.address %></li></ul>
<% end %>


<%= link_to  "Add a restaurant", new_restaurant_path %>
